<h2>Your Basket</h2>
<table>
	<tr>
		<th>
			Name
		</th>
		<th>
			Price
		</th>
		<th>
			Quantity
		</th>
	</tr>
	<% @cart.orders.each do |item| %>
		<tr>
			<td><%= link_to item.wine.name, item.wine %></td>
			<td class="price"><%= number_to_currency(item.wine.price,unit:"£") %></td>
			<td><%= item.quantity %></td>

</tr> <% end %> </table>
<div class="footer">
<%= button_to 'Empty basket', @cart, method: :delete, data: {confirm: 'Certain?'}%>
<br>
<%= link_to 'Back', wines_path %>
</div>
