<h2>Listing Wines</h2>

<div class="winelist">
    <% @wines.each do |wine| %>
		<div class="wine">
			<%= link_to wine do %>
				<%= image_tag(wine.image) %>
				<span class="name"><%= wine.name %></span>
				<span class="short-desc"><%= wine.short_desc %></span>
				<div class="bar">
					<span class="price"><%= number_to_currency(wine.price, unit: "£") %></span>
					<span class="size"><%= wine.size %>&#8467;</span>
				</div>
				<span class="supplier"><%= wine.supplier %></span>
			<% end %>
		</div>
    <% end %>
</div>

<div class="footer">
<%= form_tag(wines_path, :method => "get") do %>
	<%= text_field_tag :search, params[:search], placeholder: 'Search' %>
	<%= submit_tag "Search" %>
<% end %>
	<p class="paginate"><%= paginate @wines %></p>
</div>
