<h2>Listing Wines</h2>

<div class="winelist">
    <% @wines.each do |wine| %>
		<div class="wine">
			<%= link_to wine do %>
				<%= image_tag(wine.image) %>
				<span class="name"><%= wine.name %></span>
				<span class="short-desc"><%= wine.short_desc %></span>
				<div class="bar">
					<span class="price"><%= number_to_currency(wine.price, unit: "£") %></span>
					<span class="size"><%= wine.size %>&#8467;</span>
					<%= button_to 'Add to Basket', orders_path(wine_id: wine) %>
				</div>
			<% end %>
		</div>
    <% end %>
</div>

<div class="footer">
	<p class="paginate"><%= paginate @wines %></p>
</div>
