<!DOCTYPE html>
<html>
<head>
  <title>Ruby</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="header">
		<div class="toolbox"></div>
		<% if notice %>
			<div class="notice">
				<%= notice %>
			</div>
		<% end %>
		<h1>My Alcohol Free Wines</h1>
	</div>
	<div class="content">
		<%= yield %>
	</div>
</body>
</html>
